header{
    position:fixed;
    background-color: red;
    left:15%;
    top:0;
    width:85%;
    text-align: center;
    
}

h1{
    text-align: center;
}

main{
    margin-top: 120px;
    margin-left: 20%;
}

#jumpMenu{
    position:fixed;
    bottom:0;
    top:0;
    left:0;
    background-color:darkgoldenrod ;
    width: 15%;
    padding: 50px;
}

#container{
    
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
  

}

#container article{
    width:300px;
}


#thanks{
    position:fixed;
    right:0;
    bottom:0;
    background-color:lightskyblue;
    border:2px solid black;
}

footer{
margin-left: 15%;
}


article > p:first-of-type::first-letter{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;

}

article a[href*="google.com"]::after{
    content:url("linkicon.png")

}

article a{
    color: blue;
    text-decoration: underline;
    font-size: inherit;
}

article{
    color: lightgrey;
    transition: color 2s ease, max-height 2s ease;
    overflow:hidden;
    max-height: 220px;
}

article:hover{
    color:black;
    max-height: 1000px;
}

article p{
    color:inherit;
}

#menuItems a:hover{
    background-color:orange ;

}



#jumpMenu{
    display: block;
}
#meunItems a#recentArticles:hover + #jumpMenu, #jumpMenu:hover{
    display:block;
}

#jumpMenu li a{
    display:block;
    color:gold;
    text-decoration: none;
    padding: 6px 10px;
}

#jumpMenu li a:hover{
    background-color: chartreuse;
    color:blue;
}

